@import url(font-awesome.min.css);
*{
    margin: 0;
}
body {
    font-family: "Raleway",Helvetica,sans-serif;
    color: #444;
}
a{
    text-decoration: none;
    /*color: #fff;*/
}
.header h1{
    float: left;
}
.nav{
    text-align: right;
}
.nav ul li{
    display: inline;
    margin:0 10px;

}
.nav ul li a{
    color: rgba(255,255,255,0.5);
    transition: color 0.3s ease-in-out;

}
.top-menu{
    padding:40px;
}
.header{
    background: #444;
    background-image: url(../img/dark_tint.png),url(../img/bokeh_car_lights_bg.jpg);
}
.nav ul li a:hover{
    color: #fff;
}
.btn{
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.10vw;
    color: #fff;
}
.btn-gray{
    background: #fff;
    color: #444 !important;
}
.btn-big {
  /*  padding: 20px 30px;*/
    font-size: 2.5vw !important;
}
.btn-blue {
    background: #3cadd4;
    color: #fff !important;
}
.btn-dark {
    background: #383b43;
    color: #fff !important;
}
.banner-content{
  text-align: center;
    padding: 200px 0;
}
.banner-content h2{
    font-size: 5vw;
    color: #fff;
    line-height:130px;
}
.banner-content p{
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 50px;
}